<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WarrantAssistant.Properties.Settings.WMM3ConnectionString" connectionString="Data Source=10.101.10.5;Initial Catalog=WMM3;Persist Security Info=True;User ID=wmm3reader;Password=zse4rfv" providerName="System.Data.SqlClient"/>
    <add name="edis20SqlConnString" connectionString="SERVER=10.19.1.20;DATABASE=EDIS;UID=WarrantWeb;PWD=WarrantWeb" providerName="System.Data.SqlClient"/>
    <add name="edis45SqlConnString" connectionString="Data Source=10.19.1.45;Initial Catalog=newEDIS;User ID=sa;Password=dw910770" providerName="System.Data.SqlClient"/>
    <add name="edisSqlConnString" connectionString="SERVER=10.10.1.30;DATABASE=EDIS;UID=WarrantWeb;PWD=WarrantWeb" providerName="System.Data.SqlClient"/>
    <add name="tsquoteSqlConnString" connectionString="SERVER=10.60.0.37;DATABASE=TsQuote;UID=WarrantWeb;PWD=WarrantWeb" providerName="System.Data.SqlClient"/>
    <add name="warrantSysSqlConnString" connectionString="SERVER=10.101.10.5;DATABASE=WAFT;UID=eduser;PWD=eduser" providerName="System.Data.SqlClient"/>
    <add name="warrantSysKeySqlConnString" connectionString="SERVER=10.101.10.5;DATABASE=EDAISYS;UID=eduser;PWD=eduser" providerName="System.Data.SqlClient"/>
    <add name="edis37SqlConnString" connectionString="SERVER=10.60.0.37;DATABASE=newEDIS;UID=WarrantWeb;PWD=WarrantWeb" providerName="System.Data.SqlClient"/>
    <add name="pmgreeksConnString" connectionString="Data Source=10.101.10.5;Initial Catalog=WMM3;User ID=wmm3reader;Password=zse4rfv" providerName="System.Data.SqlClient"/>
    <add name="HEDGE" connectionString="Data Source=10.101.10.5;Initial Catalog=HEDGE;User ID=wmm3reader;Password=zse4rfv" providerName="System.Data.SqlClient"/>
    <add name="WarrantAssistant45" connectionString="Data Source=10.60.0.39;Initial Catalog=WarrantAssistant;User ID=WarrantWriter;Password=WarrantWriter" providerName="System.Data.SqlClient"/>
    <add name="TwCMData" connectionString="Data Source=10.60.0.39;Initial Catalog=TwCMData;User ID=WarrantWriter;Password=WarrantWriter" providerName="System.Data.SqlClient"/>
    <add name="TwData" connectionString="Data Source=10.60.0.39;Initial Catalog=TwData;User ID=WarrantWriter;Password=WarrantWriter" providerName="System.Data.SqlClient"/>
    <add name="BranchData" connectionString="Data Source=10.60.0.39;Initial Catalog=BranchData;User ID=WarrantWriter;Password=WarrantWriter" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <appSettings>
    <add key="NonSpecialCallPutRatio" value="1.5"/>
    <add key="SpecialCallPutRatio" value="1.5"/>
    <add key="SpecialKGIALLPutRatio" value="0.25"/>
    <add key="ISTOP30MaxIssue" value="500000"/>
    <add key="NonTOP30MaxIssue" value="200000"/>
  </appSettings>
</configuration>
<!--><?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing= "true " />
    </settings>
  </system.net>
</configuration>
</!-->
